<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue Index Page</title>
</head>
<body>
    <h2>Vue Index Page</h2>
    <div id="app">
        <h3>{{ message }}</h3>
        <ol>
            <!-- Vue 객체가 가지고 있는 list에서 정보를 뽑아와서
                item에 설정하고 각각의 item들을 출력한다. -->
            <li v-for="item in list">{{ item }}</li>
        </ol>
        <button v-on:click="handleClick">Click</button>
        <input v-model="initMsg">
        <p>{{ initMsg }}</p>
        <button v-on:click="show=!show">Change</button>
        <p v-if="show">Show Time!</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10">
    </script>
    <script>
        // 새로운 Vue 객체를 생성한다.
        // HTML, CSS도 재활용성을 극대화시키자!
        var app = new Vue({
            // id가 app임을 나타낸다.
            el: '#app',
            // 그리고 Vue 객체가 가지고 있는 데이터
            data: {
                // 변수(message): 내용
                message: 'Hello Vue.js',
                initMsg: 'Initial Message',
                list: ['apple', 'banana', 'cherry'],
                show: true
            },
            methods: {
                handleClick: function(event) {
                    alert(event.target)
                }
            }
        })
    </script>
</body>
</html>