<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue Index Page</title>
    <link href="css/vueMain.css" rel="stylesheet">
</head>
<body>
    <h2>Vue Index Page</h2>
    <div id="app">
        <h3>{{ message }}</h3>
        <!-- Vue 객체에 있는 message의 길이를 산출 -->
        <p>{{ message.length }}</p>
        <p>{{ list[2] }}</p>
        <p>{{ list[num] }}</p>
        <ol>
            <!-- Vue 객체가 가지고 있는 list에서 정보를 뽑아와서
                item에 설정하고 각각의 item들을 출력한다. -->
            <li v-for="item in list">{{ item }}</li>
        </ol>
        <button v-on:click="handleClick">Click</button>
        <input v-model="initMsg"><br><br>
        <!-- 1. 캐릭터 이름, 레벨, 상태, HP, ATK, DEF 표시 -->
        캐릭터명: <input v-model="characterName"><br>
        레벨: <input v-model="characterLv"><br>
        상태: <input v-model="characterStatus"><br>
        HP: <input v-model="characterHp"><br>
        ATK: <input v-model="characterAtk"><br>
        DEF: <input v-model="characterDef"><br>

        <p>{{ initMsg }}</p>
        <button v-on:click="show=!show">Change</button>
        <transition>
            <p v-if="show">Show Time!</p>
        </transition>
        <p>{{ count }}번 클릭했다!</p>
        <button v-on:click="increment">Count</button>
        <button v-on:click="isActive=!isActive">
            Change Mode
        </button>
        <p v-bind:class="{ child: isChild, 'is-active': isActive }"
           class="item">
            Dynamic Class
        </p>
        <p v-bind:style="{ color: textColor, backgroundColor: bgColor }"
           class="item">
            Dynamic Style
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <circle v-bind:r="radius" fill="lightblue" cx="100" cy="75"/>
        </svg>
        <input type="range" min="0" max="100" v-model="radius">
        <br>

        <p>캐릭터명: {{ characterName }}&nbsp;&nbsp;&nbsp;경험치: {{ curExp }}/{{ needExp}}</p>
        <p>레벨: {{ characterLv }}</p>
        <p>상태: {{ characterStatus }}</p>
        <p>HP: {{ characterHp }}</p>
        <p>ATK: {{ characterAtk }}</p>
        <p>DEF: {{ characterDef }}</p>

        이름
        <input v-model="monsterName">
        <!-- Vue는 객체의 변화를 감지하면 HTML을 다시 렌더링한다. -->
        <button v-on:click="addMonster">Add Monster</button>
        <ul>
            <li v-for="(item, index) in monster"
                v-bind:key="item.id" v-if="item.hp">
                ID:{{ item.id }} {{ item.monsterName }} HP:{{ item.hp }}
                <span v-if="item.hp > 300">Strong</span>
                <span v-if="item.hp < 50">Morbidity</span>
                <button v-on:click="doRemove(index)">
                    Delete Monster
                </button>
                <button v-on:click="doAttack(index)">
                    Attack
                </button>
            </li>
            <!-- 몬스터의 hp가 0임을 확인하면
                 경험치 산정을 수행하도록 한다.
                 hp가 0임을 확인하고 경험치 산정후 delete! -->
            <li v-for="(item, index) in monster"
                v-bind:key="item.id">
                ID:{{ item.id }} {{ item.monsterName }} HP:{{ item.hp }}
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vuex@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10">
    </script>
    <script>
        // 새로운 Vue 객체를 생성한다.
        // HTML, CSS도 재활용성을 극대화시키자!
        var app = new Vue({
            // id가 app임을 나타낸다.
            el: '#app',
            // 그리고 Vue 객체가 가지고 있는 데이터
            data: {
                // 변수(message): 내용
                message: 'Hello Vue.js',
                initMsg: 'Initial Message',
                list: ['apple', 'banana', 'cherry'],
                show: true,
                num: 1,
                count: 0,
                isChild: true,
                isActive: true,
                textColor: 'red',
                bgColor: 'lightgray',
                radius: 50,
                monster: [
                    { id: 1, monsterName: 'Slime', hp: 10 },
                    { id: 2, monsterName: 'Goblin', hp: 20 },
                    { id: 3, monsterName: 'Dragon', hp: 5000 }
                ],
                monBook: [
                    { monsterName: 'Slime', exp: 1 },
                    { monsterName: 'Goblin', exp: 2 },
                    { monsterName: 'Chimera', exp: 250 },
                    { monsterName: 'Dragon', exp: 100000 }
                ],
                monsterName: 'Chimera',
                characterName: '',
                characterLv: 1,
                characterStatus: '',
                characterHp: 100,
                characterAtk: 10,
                characterDef: 1,
                curExp: 0,
                needExp: 10
            },
            methods: {
                handleClick: function(event) {
                    alert(event.target)
                },
                increment: function() {
                    this.count += 1
                },
                addMonster: function() {
                    // 몬스터(monster) 배열에서 최대값을 찾기 위한 작업
                    // reduce를 통해 각각의 원소에 있는 모든 값들을 검사함
                    // 최종적으로 id값중 최대값을 획득하게 된다.
                    var max = this.monster.reduce(function(a, b) {
                        return a > b.id ? a : b.id
                    }, 0)
                    // push를 통해서 monster 배열에 새로운 내용을 추가한다.
                    this.monster.push({
                        id: max + 1,
                        monsterName: this.monsterName,
                        hp: 100
                    })
                },
                doRemove: function(index) {
                    this.monster.splice(index, 1)
                },
                doAttack: function(index) {
                    this.monster[index].hp -= this.characterAtk
                }
            },
            beforeCreate: function () {
                alert('Before Create: ' + this.monster)
            },
            created: function () {
                alert('Created: ' + this.monster)
            },
            beforeMount: function () {
                alert('Before Mount: ' + this.monster)
            },
            mounted: function () {
                alert('Mounted: ' + this.monster)
            },
            // Vue 객체에 변화가 발생했을때 다시 렌더링(그림 그리기)
            beforeUpdate: function () {
                alert('Before Update: ' + this.monster)
            },
            updated: function () {
                alert('Updated: ' + this.monster)
            },
            beforeDestroy: function () {
                alert('Before Destroy: ' + this.monster)
            },
            destroyed: function () {
                alert('Destroyed: ' + this.monster)
            }
        })
    </script>
</body>
</html>

<!--
1. 캐릭터 이름, 레벨, 상태, HP, ATK, DEF 표시
2. 경험치바 만들기 예) 110 / 150
3. 몬스터에 경험치 추가
4. 몬스터 잡으면 레벨업 기능을 추가해보자!
-->