.my-div {
  background-color: aqua;
  font-size: 15px;
}

.testbox {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blue {
  background: dodgerblue;
}