.TodoInsert {
  display: flex;
  background: #33a0fa;

  input {
    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: azure;
    &::placeholder {
      color: crimson;
    }
    flex: 1
  }

  button {
    background: darkgray;
    outline: none;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: azure;
    transition: 0.8s ease-in;
    &:hover {
      background: aquamarine;
    }
  }
}